<div class="margin-top-50 margin-bottom-20">
  <div class="container margin-bottom-30">
    <h2 class="anniversary-title text-center">Download and celebrate with us on social media</h2>

    <div class="row">
      <div class="anniversary-container anniversary-resources-container">
        <div class="anniversary-img-container col-xs-24">
          <div class="anniversary-img-wrapper">
            <img src="/images/anniversary/20-years-eclipse-ide.png"
              alt="Eclipse IDE 20th anniversary social media card" />
          </div>
          <a href="/images/anniversary/20-years-eclipse-ide.png" download>Download</a>
        </div>
        <div class="anniversary-img-container col-xs-24">
          <div class="anniversary-img-wrapper">
            <img src="/images/anniversary/20-years-eclipse-ide-2.png"
              alt="Eclipse IDE 20th anniversary social media card version 2" />
          </div>
          <a href="/images/anniversary/20-years-eclipse-ide-2.png" download>Download</a>
        </div>
        <div class="anniversary-img-container col-xs-24">
          <div class="anniversary-img-wrapper">
            <img src="/images/anniversary/social-posts-template.jpg"
              alt="Eclipse IDE 20th anniversary social post" />
          </div>
          <a href="/images/anniversary/social-posts-template.jpg" download>Download</a>
        </div>
      </div>
    </div>
  </div>

  <div class="grey-row row">
    <div class="container">
      <div class="anniversary-container anniversary-video-container padding-top-60 padding-bottom-60">
        <div class="section-home-dt column">
          <div class="anniversary-video">
            <a class="eclipsefdn-video" href="https://youtu.be/34L_dGezTMo"></a>
          </div>
        </div>
        <div class="section-home-dt column">
          <div class="anniversary-video">
            <a class="eclipsefdn-video" href="https://youtu.be/5B0HERBB2Kc"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="left-background-color"></div>
    <div class="right-background-color"></div>
  </div>
</div>
